<h4 class="list-group-item-heading">{{fileName}}
	<small><span class="label label-default" data-template-part="state-display">{{state}}</span></small>
</h4>
<!--<p class="list-group-item-text">{{fileExtension}} {{fileSize}}Bytes</p>-->
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{progress}}</div>
</div>